@import 'colors';

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background-color: $bgc-color-dark;
}

nav{
    text-transform: uppercase;
    // background-color: $bgc-color-dark;

    a , i{
        color: $font-color-dark !important;
    }
 
    a:hover{
        color: $active-color !important;
    }

    .active-button{
        color: $active-color !important;
    }
    .active{
        color: $active-color !important;
    }

    .fa-bars{
        padding: 10px;
    }
}

header{
    color: $font-color-dark;

    .main-img{
     position: relative;
     height: 100vh;
     background-image: url(/images/mainSmall.jpg);
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
     z-index: -2;
     ;
    }

    .main-img-text{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        text-align: center;
        height: 100%;
        z-index: 5;

        h1{
            
            text-transform: uppercase;
        }
    }
    .main-img-shadow{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        z-index: -10;
    }
    

    
}

@media(min-width: 1200px){
    header{
        .main-img{
            background-image: url(/images/mainBig.jpg);
        }  
    }
 
}